.free-trial {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1d1c1c; /* Background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.free-trial h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff; /* Text color */
}

.free-trial p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff; /* Text color */
}

.size-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.size-options label {
  font-size: 16px;
  color: #ffffff; /* Text color */
  margin-bottom: 10px;
}

.size-options input[type="radio"] {
  margin-right: 10px;
}

.start-trial-btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.start-trial-btn:hover {
  background-color: #0056b3;
}