.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: #ffffff; /* Set text color to white */
}

.contact-form {
  width: 100%;
  max-width: 600px; /* Increase the max-width to make the form larger */
  background-color: #000000; /* Set background color to black */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* Set text color to white */
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 15px; /* Increase padding for larger input fields */
  margin-bottom: 15px;
  border: 1px solid #ffffff; /* Set border color to white */
  border-radius: 4px;
  font-size: 16px; /* Increase font size */
  background-color: #000000; /* Set background color to black */
  color: #ffffff; /* Set text color to white */
}

.contact-textarea {
  height: 150px; /* Increase height for the textarea */
  resize: vertical;
}

.contact-button {
  width: auto; /* Set width to auto */
  padding: 10px 20px; /* Adjust padding for a smaller button */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px; /* Decrease font size */
  cursor: pointer;
  margin-top: 20px; /* Add margin to position the button below the input fields */
  display: block;
  margin-left: auto;
  margin-right: auto; /* Center the button */
}

.contact-button:hover {
  background-color: #0056b3;
}

.contact-container h1 {
  font-size: 2.5rem; /* Increase font size for the heading */
  margin-bottom: 20px;
  color: #ffffff; /* Set text color to white */
}

.contact-container p {
  font-size: 1.2rem; /* Increase font size for the paragraph */
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; /* Set text color to white */
}